<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lanjutan_uts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".edit_dosen"></activity>
        <activity android:name=".TambahDosenActivity" />
        <activity android:name=".mhs_crud" />
        <activity android:name=".menu_dosen" />
        <activity android:name=".menu_admin" />
        <activity android:name=".matkul_crud" />
        <activity android:name=".login_activity" />
        <activity android:name=".krs_crud" />
        <activity android:name=".isi_crud_matkul" />
        <activity android:name=".isi_crud_krs" />
        <activity android:name=".Dosen_dashboard" />
        <activity android:name=".Matakuliah_CRUD" />
        <activity android:name=".Dosen_CRUD" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>